<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>qvantel-sony-phones</title>
    <meta name="description" content="qvantel-sony-phones description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html">

    <link rel="import" href="src/elements/provider-phones.html">
    <link rel="import" href="src/elements/phone-item.html">
    <link rel="import" href="src/elements/page-nav.html">

    <link rel="import" href="src/styles/main-styles.html">
    <link rel="import" href="src/styles/table-shared-styles.html">
  </head>
  <body>
    <template is="dom-bind" id="app">
      <style is="custom-style" include="table-shared-styles"></style>
      <provider-phones phones="{{phoneItems}}"></provider-phones>

      <header>
        <h1>Phones</h1>
        <div class="input">
          <input type="text" name="searchKeys" placeholder="Search">
          <iron-icon icon="search"></iron-icon>
        </div>
        <page-nav></page-nav>
      </header>

      <nav>
        <ul class="table table--7cols">
          <li class="table-cell cell-1" selected>
            <span>Model</span>
            <iron-icon icon="arrow-drop-down"></iron-icon>
          </li>
          <li class="table-cell cell-2">
            <span>Display</span>
            <iron-icon icon="arrow-drop-down"></iron-icon>
          </li>
          <li class="table-cell cell-3">
            <span>OS</span>
            <iron-icon icon="arrow-drop-down"></iron-icon>
          </li>
          <li class="table-cell cell-4">
            <span>Stock</span>
            <iron-icon icon="arrow-drop-down"></iron-icon>
          </li>
          <li class="table-cell cell-5">
            <span>Monthly</span>
            <iron-icon icon="arrow-drop-down"></iron-icon>
          </li>
          <li class="table-cell cell-6">
            <span>One-time</span>
            <iron-icon icon="arrow-drop-down"></iron-icon>
          </li>
          <li class="table-cell cell-7">
          </li>
        </ul>
      </nav>
      <section>
        <template is="dom-repeat" items="[[phoneItems]]" index-as="index">
          <phone-item title="[[item.title]]" display="[[item.display]]"
            os="[[item.os]]" stock="[[item.stock]]" monthly="[[item.monthly]]"
            one-time="[[item.oneTime]]" description="[[item.description]]"></phone-item>
        </template>
      </section>

      <footer>
        <page-nav></page-nav>
      </footer>
    </template>
    <script src="src/app.js"></script>
  </body>
</html>
