<dom-module id="table-shared-styles">
  <template>
    <style>
      .table {
        display: flex;
        margin: 0;
        padding: 0;
      }
      .table-cell {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        list-style: none;
        white-space: nowrap;
      }
      .table--7cols > .table-cell  { width: 14.2%; }
      .table--7cols > .table-cell.cell-1  { width: 28%; }
      .table--7cols > .table-cell.cell-2  { width: 8%; }
      .table--7cols > .table-cell.cell-3  { width: 13%; }
      .table--7cols > .table-cell.cell-4  { width: 10%; }
      .table--7cols > .table-cell.cell-5  { width: 9%; }
      .table--7cols > .table-cell.cell-6  { width: 10%; }
      .table--7cols > .table-cell.cell-7  { width: 5%; }
    </style>
  </template>
</dom-module>
