<dom-module id="text-shared-styles">
  <template>
    <style>
    :root {
      --primary-font: {
        font-size: 14px;
        color: #7d7d7d;
      };
    }
    </style>
  </template>
</dom-module>
