<dom-module id="page-nav">
  <template>
    <style>
      :host {
        display: flex;
        align-items: center;
      }
      .pagination {
        font-size: 12px;
        color: #3d3d3d;
        margin-right: 12px;
      }
      button[disabled] {
        opacity: 0.5;
      }
      button {
        cursor: pointer;
        border: 0;
        color: #4287b7;
        background-color: #fff;
        border: 1px solid #c8c8c8;
        box-shadow: 0 2px 5px 0px rgba(220, 220, 220, 0.8);
      }
      button:first-of-type {
        border-right: 0;
        border-radius: 1px 0 0 1px;
      }
      button:last-of-type {
        border-radius: 0 1px 1px 0;
      }
    </style>
    <span class="pagination">[[currentRangePages]]/[[totalPages]]</span>
    <button disabled>
      <iron-icon icon="chevron-left"></iron-icon>
    </button>
    <button>
      <iron-icon icon="chevron-right"></iron-icon>
    </button>
  </template>
  <script>
    Polymer({
      is: 'page-nav',
      properties: {
        currentRangePages: {
          type: String,
          value: '1-55'
        },
        totalPages: {
          type: String,
          value: '166'
        }
      }
    });
  </script>
</dom-module>
