<link rel="import" href="../styles/text-shared-styles.html">
<dom-module id="phone-item-detail">
  <template>
    <style include="text-shared-styles">
      :host {
        display: block;
        border: 1px solid #e1e1e1;
        border-left: 0;
      }
      h1 {
        margin: 0 0 20px 0;
        font-size: 35px;
        font-weight: 300;
        color: #575757;
      }
      h2 {
        font-size: 18px;
        font-weight: 400;
        color: #4287b7;
      }
      button {
        padding: 10px 0px;
        margin-right: 68px;
        color: #fff;
        background-color: #6fbc1c;
        border: 0;
        border-radius: 1px;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .details {
        display: flex;
        height: 410px;
        padding: 25px 25px 25px 33px;
        background-color: #f8f8f8;
      }
      paper-tabs {
        background-color: #efefef;
        padding-right: 30%;
      }
      paper-tab {
        width: 5%;
        font-weight: 300;
        letter-spacing: 0.7px;
        height: 98% !important;
        border-right: 1px solid #e1e1e1;
      }
      paper-tab:focus ::content .tab-content {
        font-weight: 300 !important;
      }
      paper-tab.iron-selected {
        color: #71bd1f;
        background-color: #f8f8f8;
        border-bottom: 1px solid #f8f8f8;
      }
      paper-tab:not(.iron-selected) {
        color: #4287b7;
        border-bottom: 1px solid #e1e1e1;
      }
      .col {
        display: flex;
        flex-direction: column;
      }

      /** thumb **/
      .thumb {
        flex-basis: 11%;
        align-items: center;
      }
      .thumb img {
        width: 100%;
      }
      /** .end thumb **/

      /** main **/
      .main {
        flex-basis: 48%;
        margin: 0 5.55% 0 4.66%;
      }
      .readmore {
        cursor: pointer;
        color: #4287b7;
        font-size: 14px;
        text-align: center;
        position: relative;
        z-index: 2;
        box-shadow: -5px -10px 35px 15px #f8f8f8;
      }
      .readmore::before {
        content: " ";
        display: block;
        position: absolute;
        z-index: -1;
        top: 50%;
        width: 100%;
        border-top: 1px solid #e1e1e1;
      }
      .readmore span {
        background-color: #f8f8f8;
        padding: 0 12px;
      }
      .description {
        height: 250px;
        overflow: hidden;
        margin: 0;
        @apply(--primary-font);
      }
      .prices {
        display: flex;
        justify-content: space-between;
        color: #b2b2b2;
        font-size: 14px;
      }
      .currency {
        color: #6fbc1c;
      }
      /** .end main **/

      /** sidebar **/
      .sidebar {
        flex-basis: 31%;
      }
      .sidebar-details {
        margin: 25px 0;
      }
      .sidebar-details h2 {
        margin-top: 0;
      }
      .sidebar-details ul {
        margin: 0;
        padding: 0 0 0 20px;
        line-height: 24px;
        @apply(--primary-font);
      }
      .rating {
        margin-top: 18px;
        white-space: nowrap;
        color: #4287b7;
      }
      .rating iron-icon {
        width: 18px;
        margin-right: -3px;
      }
      .stock-details {
        display: flex;
        flex-direction: column;
        @apply(--primary-font);
      }
      .stock-details > span > span:last-of-type {
        font-weight: 600;
      }
      .stock-details > span {
        display: flex;
        justify-content: space-between;
      }
      /** .end sidebar **/

    </style>
    <paper-tabs selected="0" no-bar noink  fit-container>
      <paper-tab>Basic information</paper-tab>
      <paper-tab>Technical details</paper-tab>
      <paper-tab>Images ({{imagesNum}})</paper-tab>
      <paper-tab>Comments ({{commentsNum}})</paper-tab>
    </paper-tabs>

    <iron-pages selected="0">
      <section class="details">
        <div class="col thumb">
          <img src="../../data/xperia.png" alt="">
          <div class="rating">
            <iron-icon icon="icons:star" class="positive"></iron-icon>
            <iron-icon icon="icons:star" class="positive"></iron-icon>
            <iron-icon icon="icons:star" class="positive"></iron-icon>
            <iron-icon icon="icons:star-border" class="empty"></iron-icon>
            <iron-icon icon="icons:star-border" class="empty"></iron-icon>
          </div>

        </div>
        <div class="col main">
          <h1>[[title]]</h1>
          <div class="prices">
            <span>Monthly <span class="currency">[[monthly]] €</span>/mo.</span>
            <span>One-time <span class="currency">[[oneTime]] €</span></span>
          </div>
          <h2>Description</h2>
          <p class="description">[[description]]</p>
          <div class="readmore"><span>Read more</span></div>
        </div>

        <div class="col sidebar">
          <button>Select</button>

          <div class="sidebar-details">
            <h2>Quick details</h2>
            <ul>
              <li>5" Full HD screen</li>
              <li>Resolution 1920px x 1080px</li>
              <li>Android 4.4</li>
              <li>Touch screen</li>
              <li>64 GB internal storage</li>
              <li>Battery 3100 mAh</li>
              <li>13 Mpix camera</li>
            </ul>
          </div>

          <div class="stock">
            <h2>Stock</h2>
            <div class="stock-details">
              <span><span>Store</span><span>54</span></span>
              <span><span>Main warehouse</span><span>143</span></span>
              <span><span>Other warehouse</span><span>12</span></span>
            </div>
            </ul>
          </div>
        </div>
      </section>
    </iron-pages>
  </template>
  <script>
    Polymer({
      is: 'phone-item-detail',

      properties: {
        description: String,
        monthly: Number,
        oneTime: Number,
        imagesNum: {
          type: Number,
          value: 5
        },
        commentsNum: {
          type: Number,
          value: 16
        }
      }
    });
  </script>
</dom-module>
