<link rel="import" href="phone-item-detail.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../styles/table-shared-styles.html">

<dom-module id="phone-item">
  <template>
    <style include="table-shared-styles">
      :host {
        display: block;
        box-sizing: border-box;
        position: relative;
      }
      :host(.opened):before {
        content: " ";
        width: 3px;
        height: 100%;
        z-index: 1;
        position: absolute;
        background-color: #4287b7;
      }
      :host(:nth-child(even)) {
        background: #f7fafb;
      }
      :host(:nth-child(odd)) {
        background: #fff;
      }

      header {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .table-cell {
        display: flex;
        align-items: center;
        font-size: 14px;
        height: 33px;
        padding: 0 10px;
        color: #7c7c7c;
        border-right: 1px solid #f2f2f2;
      }
      .table-cell.cell-1 {
        padding: 5px 0;
      }
      .table-cell.cell-7 {
        padding: 0;
        justify-content: center;
      }
      .table-cell.currency {
        justify-content: flex-end;
      }

      .title-btn {
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;
      }
      .title-icon {
        color: #d5d5d5;
        transform: rotate(-90deg);
      }
      :host(.opened) .title-icon {
        transform: rotate(0deg);
        color: #4287b7;
      }

      .btn-select {
        background-color: transparent;
        border: 0;
        text-transform: uppercase;
        color: #4287b7;
      }
      .currency span {
        color: #6fbc1c;
      }
      .currency .label {
        padding-left: 5px;
        color: #b2b2b2;
      }
      .no-stock {
        font-weight: 600;
        color: #cd3c33;
      }
    </style>

    <header class="table table--7cols" on-click="_openDetail">
      <div class="table-cell cell-1">
        <button class="title-btn"><iron-icon icon="arrow-drop-down" class="title-icon"></iron-icon></button>
        [[title]]
      </div>
      <div class="table-cell cell-2"><span>[[display]]"</span></div>
      <div class="table-cell cell-3"><span>[[os]]</span></div>
      <div class$="table-cell cell-4 {{_noStock}}"><span>[[_stock]]</span></div>
      <div class="table-cell cell-5 currency"><span>[[monthly]] €</span> <span class="label">/MO.</span></div>
      <div class="table-cell cell-6 currency"><span>[[oneTime]] €</span></div>
      <div class="table-cell cell-7"><button class="btn-select">select</button></div>
    </header>
    <phone-item-detail hidden$="[[!opened]]" description="[[description]]"
        title="[[title]]" monthly="[[monthly]]" one-time="[[oneTime]]">
    </phone-item-detail>
  </template>
  <script>
    Polymer({
      is: 'phone-item',

      properties: {
        title: String,
        display: Number,
        os: String,
        stock: Number,
        _stock: {
          type: String,
          computed: '_computedStock(stock)'
        },
        _noStock: {
          type: String,
          value: ''
        },
        monthly: Number,
        oneTime: Number,
        opened: {
          type: Boolean,
          value: false
        }
      },

      _computedStock: function(stock) {
        var isStock = stock > 0;
        this._noStock = isStock ? '' : 'no-stock';
        return isStock ? stock : 'Out of stock';
      },

      _openDetail: function(e) {
        this.opened = !this.opened;
        this.classList.toggle('opened');
      }
    });
  </script>
</dom-module>
