<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="provider-phones">
  <template>
    <iron-ajax
      auto
      url="../../data/phones.json"
      handle-as="json"
      last-response="{{data}}"></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'provider-phones',

      properties: {
        data: {
          type: Object,
          observer: '_dataChanged'
        },
        phones: {
          type: Array,
          notify: true
        }
      },

      _dataChanged: function(data) {
        this.set('phones', data.phones);
      }
    });
  </script>
</dom-module>
